<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <ul>
                <ol><%= link_to("Продолжить внесение размера и кол-ва", new_connectionsize_path, class: ["btn btn-default"]) %></ol>
                <ol><%= link_to("Продолжить внесение цвета", new_connection_path, class: ["btn btn-default"]) %></ol>
                <ol><%= link_to("Выход", root_path, class: ["btn btn-default"]) %></ol>
            </ul>    
        </div>
    </div>
</div>
