<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="well">
         <%= $product.cartikul %>
         <%= $product.ctxt %>
         <%= render "shared/new_connection" %>
      </div>
   </div>
</div>
