<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="well">
         <%= $product.cartikul %>
         <%= $product.ctxt %>
         
         <div class="row">
            <table border="2" bordercolor="#ff00ff" align="center">
               <%= render "shared/tr_block" %>
               <%= render "shared/new_connection" %>
            </table>
         </div>
      </div>
   </div>
</div>
