<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Citymix.com.ua, <%= @user.name %> !</h1>
    <p>
    <p>Уважаемый <%= @user.name %>, Ваш пароль успешно изменен на нашем сайте <%= @url %>. </p>
   <p>
       Ваш пароль <%= @pass %>. Измените его в Вашем профиле, как только зайдете в свой личный кабинет.
    </p>
    <p>Желаем успехов и удачного дня!</p>
  </body>
</html>
