<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Информация от Citymix.com.ua</h1>
    <p>
    <p>Уважаемый <%= @user.name %>, на сайте <%= @url %> Вам заказан обратный звонок</p>
   <p>
       от <%= @name %>  на номер телефона  <%= @phone %>. </p>
  </body>
</html>
