<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
    <p>Уважаемый <%= @user.name %>, Ваш пароль успешно изменен </p>
   <p>
      На нашем сайте <%= @url %>. Ваш пароль <%= @pass %>.
    </p>
    <p>Желаем успехов и удачного дня! </p>
  </body>
</html>
