<ul>
   <li><%= radio_button_tag(:delivery, 1 ) %>
       <%= label_tag(:delivery, "Доставка курьером", class: "ws12") %></li>
      <span class="ws10" style="color: #c0c0c0;">Стоимость доставки 35 грн.<br>
      Доставка возможна в г. Хмельницком</span><br><br>
    <li><%= radio_button_tag(:delivery, 2) %>
        <%=label_tag(:delivery, "Доставка удобным перевозчиком", class: "ws12") %></li>
      <span class="ws10" style="color: #c0c0c0;">Стоимость доставки 35 грн.<br>
      Доставка возможна по всей Украине</span><br><br>
</ul>
<hr id="hr_line">

