<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  <p>
  <%= link_to '< удалить >', user, method: :delete,
                              data: { confirm: "Удалять?" } %> </p>
  <% end %>
</li>
