<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
      Количество ошибок:  <%= object.errors.count %>
  </div>  
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <%case object.errors.count > 0 %>
        <% when msg == "Phone is invalid" %>
          <% msg = "Не верный формат номера телефона (+380ХХХХХХХХХ)"%>  
        <% when msg == "Password can't be blank" %>
          <% msg = "Не введен пароль" %>
        <% when msg == "Password is too short (minimum is 6 characters)" %>
          <% msg = "Пароль слишком короткий (минимум 6 символов)" %>
        <% when msg == "Password confirmation can't be blank" %>
          <% msg = "Не введен или несовпадение повторного набора пароля" %>  
      <% end %>
      <li>* <%= msg %></li>
      <% end %>  
    </ul>  
  </div>
<% end %>  
