<% colors_array = Color.all.map { |color| [color.ctxt, color.id] } %>
 
<%= form_for @connection do |c| %>
<div class="row">
   <div class="col-md-12">
           <div class="well">     
              <table border="2" bordercolor="#ff00ff" align="center">
                <tr>
                    <td width="120" align="center">Цвет</td>
                    <td width="350" align="center">Выбор файла</td>
                    <td width="100">
                </tr>
                <tr>
                  <td width="120"><%= c.select(:color_id, options_for_select(colors_array)) %></td>
                  <td width="350" align="center"><%= c.file_field :avatar %></td>
                  <td width="100"><%= c.submit "далее", class: ["btn btn-default"], style: ["width: 100px;"] %></td>
                </tr>
              </table>
           </div>    
   </div>   
</div> 
<% end %>

