    <ul>
        <li><div class="col-md-1"><%= radio_button_tag(:delivery, "Доставка курьером") %></div>
            <%= label_tag(:delivery, "Доставка курьером", class: ["ws12"]) %></li><br>
            <span class="ws10" style="color: #c0c0c0;">Стоимость доставки 35 грн.<br>
            Доставка курьером возможна в г. Хмельницком</span><br><br>
        <li><div class="col-md-1"><%= radio_button_tag(:delivery, "Доставка перевозчиком") %> </div>
            <%=label_tag(:delivery, "Доставка удобным перевозчиком", class: "ws12") %></li>
            <span class="ws10" style="color: #c0c0c0;">Стоимость доставки 35 грн.<br>
            Доставка возможна по всей Украине</span><br><br>
    </ul>
    <hr id="hr_line">

