<% provide(:title, $product.ctxt) %>

<style>
   hr {
   border: none;
   background: #ff00ff;
   color: #ff00ff;
   height: 2px;
   }
</style>

<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="well">
   <table>
      <tr>
         <td width="150">Изображение</td>
         <td width="220">Название товара</td>
         <td width="130">Количество</td>
         <td width="130">Цена</td>
         <td width="130">Сумма</td>
      </tr>
   </table>
   <hr>
   <table>
      <tr>
         <td>image_tag()</td>
      </tr>
   </table>
</div>
</div>
</div>
