<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to citymix.com.ua, <%= @user.name %></h1>
    <p>
<p>
Поздравляем, Вы успешно зарегистрировались на нашем сайте,
Ваше имя: <%= @user.name %>. </p>

   </body>
</html>
