<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>citymix.com.ua, <%= @user.name %></h1>
    <p>Поступил новый заказ № <%= @order.id %> от <%= @order.user.name + ' ' + @order.user.last_name %> </p>

 </body>
</html>
